@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
section,
main {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  padding: 1.2rem 1.6rem;
  border-radius: 3rem;
  opacity: 1;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  color: #fff;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px 0px;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 8px 0px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 10;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
}
.header__title {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 2.25rem;
}
.header__icon {
  position: absolute;
  top: 50%;
  left: 2rem;
}

.footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  color: #fff;
}
.footer__img {
  filter: contrast(1) invert(1);
  width: 120px;
  margin: 1rem 0;
}
.footer__row {
  padding: 0.6rem 0;
}
.footer .icon-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .accent-link {
  font-weight: 600;
}

@media (min-width: 769px) {
  .footer__container {
    display: flex;
    justify-content: space-evenly;
  }

  .img__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
}
.location__city {
  font-weight: 500;
  font-size: 1.4rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.125rem;
  background-color: #f6f6f6;
  text-align: center;
}
.hero__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.125rem;
}
.hero__title {
  max-width: 300px;
  font-size: 1.75rem;
}
.hero__text {
  font-size: 1.25rem;
  font-weight: 300;
}

.guides {
  margin-top: 1.25rem;
  padding: 1rem;
}
.guides h2 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
.guides__box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-inline: 0.6rem;
}
.guides__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
  padding: 2rem 0;
  position: relative;
  border-radius: 2rem;
  background-color: rgba(189, 187, 187, 0.1);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.guides__item:hover {
  background-color: rgba(147, 86, 220, 0.1);
  cursor: pointer;
  transition: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 8px 0px;
}
.guides__item:hover > .guides__item__icon {
  opacity: 1;
  color: #9356DC;
}
.guides__item__circle {
  position: absolute;
  top: 50%;
  left: -13px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  background-color: #9356DC;
  color: white;
  padding: 0.6rem;
  border-radius: 50%;
  font-size: 1rem;
}
.guides__item__icon {
  opacity: 0.6;
  margin-left: 2.25rem;
}
.guides__item__txt {
  font-weight: 600;
}

.resto {
  margin-top: 2rem;
  padding: 4rem 1rem 2rem 1rem;
  background-color: #f6f6f6;
}
.resto h2 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
.resto__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-bottom: 4rem;
}
.resto__link {
  width: 100%;
}
.resto__card {
  background-color: #fff;
  border-radius: 1.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.resto__card:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 8px 0px;
}
.resto__card__head {
  height: 180px;
}
.resto__card__head img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.6rem 1.6rem 0 0;
}
.resto__card__body {
  position: relative;
  padding: 0 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resto__card__desc {
  padding: 1.4rem 0;
}
.resto__card__desc p {
  margin: 0;
}
.resto__card__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}
.resto__card__heart .heart {
  cursor: pointer;
  fill: #fff;
  stroke: #000;
  stroke-width: 30;
}
.resto__card__heart .heart-full {
  width: 30px;
  position: absolute;
  fill: url(#gradient);
  stroke: none;
}
.resto__card__heart .heart-empty {
  width: 30px;
  position: relative;
}
.resto__card__heart .heart-empty:active {
  opacity: 0;
  transition: 0.5s;
}
.resto__new::before {
  content: "Nouveau";
  position: absolute;
  top: 15px;
  right: 15px;
  width: 100px;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  border-radius: 0.4rem;
  background-color: #99E2D0;
  color: #278870;
}

@media (min-width: 900px) {
  .guides__box {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1024px) {
  .guides__item {
    justify-content: center;
  }

  .guides__item__icon {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .guides__box {
    gap: 2rem;
    padding: 0 10rem;
  }
}
@media (min-width: 769px) {
  .resto__container {
    flex-direction: row;
    justify-content: center;
  }

  .resto__link {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .resto__container {
    justify-content: center;
  }

  .resto__link {
    width: 20%;
  }

  .resto__card__heart .heart-empty:hover {
    animation: btn-like 0.4s ease-in-out both;
  }
}
@media (min-width: 768px) {
  .guides h2,
.resto h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .resto h2 {
    margin-bottom: 2rem;
  }
}
.loader {
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  z-index: 100;
  margin: auto;
  visibility: hidden;
  animation: loader 3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__item {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  animation: spinning-item 3s ease-in-out;
}

@keyframes loader {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinning-item {
  0% {
    opacity: 1;
    visibility: visible;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes btn-like {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
.background {
  height: 350px;
}
.background__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.palette {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  margin-top: -80px;
  background-color: #f6f6f6;
  border-radius: 3rem 3rem 0 0;
}
.palette__wrapper {
  padding: 2rem 1rem;
}
.palette__title {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 1.6rem;
}
.palette__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menus-flex {
  display: flex;
  flex-direction: column;
}

.dishes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.dishes__title {
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 1.6rem;
}
.dishes__title::after {
  content: "";
  position: absolute;
  width: 43px;
  height: 4px;
  top: 28px;
  left: 1px;
  background: #99E2D0;
}
.dishes__menu {
  background-color: #fff;
  border-radius: 1rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  animation: showing-menus 1s both;
}
.dishes__menu:hover > .dishes__menu__checkbox {
  animation: slide-left 0.4s both;
  transform-origin: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dishes__menu:hover > .dishes__menu__checkbox i {
  animation: icon-rotation 0.5s;
}
.dishes__menu:hover > .dishes__menu__price {
  margin-right: 5rem;
  transition: 0.2s ease-in-out;
}
.dishes__menu:not(:hover) > .dishes__menu__checkbox {
  animation: slide-right 0.2s both;
  transform-origin: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dishes__menu__desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dishes__menu__desc > * {
  margin: 0;
}
.dishes__menu__desc p {
  margin-top: 0.2rem;
}
.dishes__menu__desc, .dishes__menu__price {
  padding: 1rem 0;
}
.dishes__menu__price {
  align-self: flex-end;
}
.dishes__menu__checkbox {
  background-color: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  position: absolute;
  display: none;
  width: 60px;
  height: 100%;
  padding: 0 1rem;
  right: 0;
}
.dishes__menu__checkbox:hover {
  cursor: pointer;
}
.dishes__menu__checkbox i {
  color: #fff;
  font-size: 2rem;
}

.order-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.order-btn .btn {
  padding: 1.2rem 3rem;
}

@keyframes showing-menus {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-0.3rem);
  }
}
#menu-1 {
  animation-delay: 0.1s;
}

#menu-2 {
  animation-delay: 0.2s;
}

#menu-3 {
  animation-delay: 0.3s;
}

#menu-4 {
  animation-delay: 0.4s;
}

#menu-5 {
  animation-delay: 0.5s;
}

#menu-6 {
  animation-delay: 0.6s;
}

#menu-7 {
  animation-delay: 0.7s;
}

#menu-8 {
  animation-delay: 0.8s;
}

#menu-9 {
  animation-delay: 0.9s;
}

#menu-10 {
  animation-delay: 1s;
}

@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes slide-right {
  0% {
    transform: scaleX(100%);
  }
  25% {
    transform: scaleX(75%);
  }
  50% {
    transform: scaleX(50%);
  }
  75% {
    transform: scaleX(25%);
  }
  100% {
    transform: scaleX(0%);
  }
}
@keyframes icon-rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 1200px) {
  .menus-flex {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .starter, .dish, .desserts {
    flex: 1;
  }
}

/*# sourceMappingURL=style.css.map */
