.primary-btn {
    padding: 1.6rem 2rem;
    margin-top: 2rem;
    border-radius: 3rem;
    font-weight: 500;
    background: linear-gradient(180deg, $secondary-clr, $primary-clr);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #fff;
    &:hover {
        opacity: .8;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, 
                    rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}