@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
section,
main {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}