@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}