.location {
    @include flex-center();
    gap: 1rem;
    background-color: rgba(#000000, .1);
    color: rgba(#000000, .7);
    &__city {
        font-weight: 500;
        font-size: 1.4rem;
    }
}

// HERO 
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.125rem;
    background-color: #f6f6f6;
    text-align: center;
    &__box {
        @include flex-center();
        flex-direction: column;
        margin-bottom: 1.125rem;
    }
    &__title {
        max-width: 300px;
        font-size: $h2;
    }
    &__text {
        font-size: $large-txt;
        font-weight: 300;
    }
}

// FONCTIONNEMENT
.guides {
    margin-top: 1.25rem;
    padding: 1rem;
    & h2 {
        font-size: $h2;
        margin-bottom: 2rem;
    }
    &__box {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-inline: .6rem;
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex: 1;
        padding: 2rem 0;
        position: relative;
        border-radius: 2rem;
        background-color: rgba(#bdbbbb, .1);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            &:hover {
                background-color: rgba($primary-clr, .1);
                cursor: pointer;
                transition: .4s;
                box-shadow: rgba(0, 0, 0, .8) 0px 2px 8px 0px;
                & > .guides__item__icon {
                    opacity: 1;
                    color: $primary-clr;
                }
            }
        &__circle {
            position: absolute;
            top: 50%;
            left: -13px;
            width: 30px;
            height: 30px;
            @include flex-center();
            transform: translateY(-50%);
            background-color: $primary-clr;
            color: white;
            padding: .6rem;
            border-radius: 50%;
            font-size: 1rem;
        }
        &__icon {
            opacity: .6;
            margin-left: 2.25rem; 
        }
        &__txt {
            font-weight: 600;
        }
    }
}

// RESTAURANT

.resto {
    margin-top: 2rem;
    padding: 4rem 1rem 2rem 1rem;
    background-color: #f6f6f6;
    & h2 {
        font-size: $h2;
        margin-bottom: 2rem;
    }
    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: .8rem;
        margin-bottom: 4rem;
    }
    &__link {
        width: 100%;
    }
    &__card {
        background-color: #fff;
        border-radius: 1.6rem;
        position: relative;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        &:hover {
            @include btn--over();
        }
        &__head {
            height: 180px;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1.6rem 1.6rem 0 0;
            }
        }
        &__body {
            position: relative;
            padding: 0 1.4rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__desc {
            padding: 1.4rem 0;
            & p {
                margin: 0;
            }
        }
        &__heart {
            @include flex-center();
            width: 30px;
            & .heart {
                cursor: pointer;
                fill: #fff;
                stroke: #000;
                stroke-width: 30;
            }
            & .heart--clr {
                fill: #f6f6f6;
            }
            & .heart-full {
                width: 30px;
                position: absolute;
                fill: url(#gradient);
                stroke: none;
            }
            & .heart-empty {
                width: 30px;
                position: relative;
                &:active {
                    // Remplir le coeur lors du clic (rester enfoncé)
                    opacity: 0;
                    transition: .5s;
                }
            }
        }
    }
    &__new {
        &::before {
            content: "Nouveau";
            position: absolute;
            top: 15px; right: 15px;
            width: 100px;
            padding: .5rem;
            text-align: center;
            font-weight: bold;
            border-radius: .4rem;
            background-color: $tertiary-clr;
            color: darken($tertiary-clr, 40%);
        }
    }
}



// MEDIA QUERIES 

// FONCTIONNEMENT
@media (min-width: 900px) {
    .guides__box {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 1024px) {
    .guides__item {
        justify-content: center;
    }

    .guides__item__icon {
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .guides__box {
        gap: 2rem;
        padding: 0 10rem;
    }
}

// RESTAURANTS
@media (min-width: 769px) {
    .resto__container {
        flex-direction: row;
        justify-content: center;
    }
    .resto__link {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .resto__container {
        justify-content: center;
    }
    .resto__link {
        width: 20%;
    }
    .resto__card__heart .heart-empty:hover {
        // Remplir le coeur lors du passage de la souris (format desktop)
        opacity: 0;
        transition: .5s;
    }
}


// H2 TITLES 
@media (min-width: 768px) {
    .guides h2,
    .resto h2 {
        @include flex-center();
    }

    .resto h2 {
        margin-bottom: 2rem;
    }
}

// LOADING SPINNER 
.loader {
    height: 100vh;
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    background: #000;
    z-index: 100;
    margin: auto;
    visibility: hidden;
    animation: loader 3s;
    @include flex-center;
    &__item {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border-top: 10px solid $primary-clr;
        border-bottom: 10px solid $secondary-clr;
        animation: spinning-item 3s ease-in-out;
    }
}


// ANIMATIONS

// LOADER CONTAINER
@keyframes loader {
    0% {
        visibility: visible;
        opacity: 0.9;
    }
    70% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

// LOADER ITEM
@keyframes spinning-item {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}