.location {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    padding: 2rem;
    background-color: rgba($color: #000000, $alpha: .1);
    color: rgba($color: #000000, $alpha: .8);
    font-weight: 500;
    &__icon,
    &__city {
        font-size: 2rem;
    }
}