.location {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    padding: 2rem;
    background-color: rgba($color: #000000, $alpha: .1);
    color: rgba($color: #000000, $alpha: .8);
    font-weight: 500;
    &__icon,
    &__city {
        font-size: 2rem;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    padding: 4rem;
    &__txt {
        text-align: center;
        & p {
            font-size: 2rem;
            font-weight: 300;
            margin: 1.4rem 0;
        }
        & h1 {
            font-size: 3rem;
        }
    }
}