.location {
    @include flex-center();
    gap: 1rem;
    background-color: rgba(#000000, .1);
    color: rgba(#000000, .7);
    &__city {
        font-weight: 500;
        font-size: 1.4rem;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.125rem;
    background-color: #f6f6f6;
    text-align: center;
    &__box {
        @include flex-center();
        flex-direction: column;
        margin-bottom: 1.125rem;
    }
    &__title {
        max-width: 300px;
        font-size: $h2;
    }
    &__text {
        font-size: $large-txt;
        font-weight: 300;
    }
}

.guides {
    margin-top: 1.25rem;
    padding: 1rem;
    & h2 {
        font-size: $h2;
        margin-bottom: 2rem;
    }
    &__box {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-inline: .6rem;
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex: 1;
        padding: 2rem 0;
        position: relative;
        border-radius: 2rem;
        background-color: rgba(#bdbbbb, .1);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            &:hover {
                background-color: rgba($primary-clr, .1);
                cursor: pointer;
                transition: .4s;
                box-shadow: rgba(0, 0, 0, .8) 0px 2px 8px 0px;
            }
        &__circle {
            position: absolute;
            top: 50%;
            left: -13px;
            width: 30px;
            height: 30px;
            @include flex-center();
            transform: translateY(-50%);
            background-color: $primary-clr;
            color: white;
            padding: .6rem;
            border-radius: 50%;
            font-size: 1rem;
        }
        &__icon {
            opacity: .6;
            margin-left: 2.25rem;
            &:hover {
                opacity: 1;
                color: $primary-clr;
            }  
        }
        &__txt {
            font-weight: 600;
        }
    }
}

.resto {
    margin-top: 4rem;
    padding: 4rem 1rem 2rem 1rem;
    background-color: #f6f6f6;
    & h2 {
        font-size: $h2;
        margin-bottom: 1rem;
    }
    & .card-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: .8rem;
        margin-bottom: 4rem;
        & .card {
            background-color: #fff;
            border-radius: 1.6rem;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            position: relative;
            &:hover {
                @include btn--over();
            }
            & .card__head {
                width: 100%;
                height: 180px;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 1.6rem 1.6rem 0 0;
                }
            }
            & .card__body {
                display: flex;
                justify-content: space-between;
                padding: 0 1.4rem;
                &__desc {
                    padding: 1.6rem 0;
                    & > * {
                        padding-block: .1rem;
                    }
                    & p {
                        margin: 0;
                    }
                }
                &__icon {
                    align-self: center;
                    position: relative;
                    z-index: 1;
                    &::after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
        }
            & .card--new {
                &::before {
                content: "Nouveau";
                position: absolute;
                top: 15px; right: 15px;
                width: 100px;
                padding: .5rem;
                text-align: center;
                font-weight: bold;
                border-radius: .4rem;
                background-color: $tertiary-clr;
                color: darken($tertiary-clr, 40%);
            }
        } 
    }
}

// MEDIA QUERIES 

// GUIDES
@media (min-width: 900px) {
    .guides__box {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 1024px) {
    .guides__item {
        justify-content: center;
    }

    .guides__item__icon {
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .guides__box {
        gap: 2rem;
        padding: 0 10rem;
    }
}

// RESTO CARDS
@media (min-width: 769px) {
    .resto { padding: 2rem .5rem;}
    .resto .card-container {
        flex-direction: row;
    }
    .card {
        width: 25%;
    }
}

// H2 TITLES 
@media (min-width: 768px) {
    .guides h2,
    .resto h2 {
        @include flex-center();
    }

    .resto h2 {
        margin-bottom: 2rem;
    }
}