.background {
    height: 350px;
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.palette {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    margin-top: -80px;
    background-color: #f6f6f6;
    border-radius: 3rem 3rem 0 0;
    &__wrapper {
        padding: 2rem 1rem;
    }
    &__title {
        font-family: 'Shrikhand';
        font-weight: 400;
        font-size: 1.6rem;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.menus-flex {
    display: flex;
    flex-direction: column;
}

.dishes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
        &__title {
            position: relative;
            text-transform: uppercase;
            font-weight: 400;
            margin-top: 1.6rem;
        &::after {
            content: "";
            position: absolute;
            width: 65px;
            height: 4px;
            top: 28px;
            left: 1px;
            background: $tertiary-clr;
            }
        }
        &__menu {
            background-color: #fff;
            border-radius: 1rem;
            padding: 0 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
            animation: showing-menus 1s both;
            &:hover {
                & > .dishes__menu__checkbox {
                    animation: slide-left .4s;
                    transform-origin: right;
                    @include flex-center();
                }
                & > .dishes__menu__checkbox i {
                    animation: icon-rotation .5s;
                }
                & > .dishes__menu__price {
                    margin-right: 5rem;
                    transition: .2s ease-in-out;
                }
            }
            &
                &__desc {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &__desc > * {
                    margin: 0;
                }
                &__desc p {
                    margin-top: .2rem;
                }
                &__desc,
                &__price {
                    padding: 1rem 0;
                }
                &__price {
                    align-self: flex-end;
                }
                &__checkbox {
                    background-color: $tertiary-clr;
                    border-radius: 0 1rem 1rem 0;
                    position: absolute;
                    display: none;
                    width: 60px;
                    height: 100%;
                    padding: 0 1rem;
                    right: 0;
                    &:hover {
                        cursor: pointer;
                    }
                    & i {
                        color: #fff;
                        font-size: 2rem;
                        // display: none;
                    }
                }
            }
        }
    

.order-btn {
    @include flex-center();
    margin-top: 2rem;
}

.order-btn .btn {
   padding: 1.2rem 3rem;
}   

// Animation Opacity Menus 
@keyframes showing-menus {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(-.3rem);
    }
}

// Delay Management 
#menu-1 {animation-delay: 0.1s;}
#menu-2 {animation-delay: 0.2s;}
#menu-3 {animation-delay: 0.3s;}
#menu-4 {animation-delay: 0.4s;}
#menu-5 {animation-delay: 0.5s;}
#menu-6 {animation-delay: 0.6s;}
#menu-7 {animation-delay: 0.7s;}
#menu-8 {animation-delay: 0.8s;}
#menu-9 {animation-delay: 0.9s;}
#menu-10 {animation-delay: 1s;}

// Animation Checkbox Validation
@keyframes slide-left {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
  }

// Icon rotation
@keyframes icon-rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Price Menu 



// MEDIA QUERIES 
@media (min-width: 1200px) {
    .menus-flex {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
    .starter, .dish, .desserts {flex: 1;}
}