.background {
    height: 350px;
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.palette {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    margin-top: -80px;
    background-color: #f6f6f6;
    border-radius: 3rem 3rem 0 0;
    &__wrapper {
        padding: 2rem 1rem;
    }
    &__title {
        font-family: 'Shrikhand';
        font-weight: 400;
        font-size: 2rem;
    }
    &__starter {
        
    }
}

.dishes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
        &__title {
            position: relative;
            text-transform: uppercase;
            font-weight: 400;
            margin-top: 1.6rem;
        &::after {
            content: "";
            position: absolute;
            width: 65px;
            height: 4px;
            top: 28px;
            left: 1px;
            background: $tertiary-clr;
            }
        }
        &__menu {
            background-color: #fff;
            border-radius: 1rem;
            padding: 0 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
            &:hover {
                & + .checkbox {
                    animation: slide-left 0.5s ease-in-out both;
                }
            }
                &__desc {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &__desc > * {
                    margin: 0;
                }
                &__desc p {
                    margin-top: .2rem;
                }
                &__desc,
                &__price {
                    padding: 1rem 0;
                }
                &__price {
                    align-self: flex-end;
                }

                &__checkbox {
                    background-color: $tertiary-clr;
                    position: absolute;
                    display: none;
                    @include flex-center;
                    border-radius: 0 1rem 1rem 0;
                    padding: 1.25rem;
                    right: 0;
                    height: 100%;
                    
                    & .fas {
                        color: #fff;
                        font-size: 2rem;
                    }
                }
            }
        }
    

.order-btn {
    @include flex-center();
    margin-top: 2rem;
}

.order-btn .btn {
   padding: 1.2rem 3rem;
}   

// Animation Checkbox Validation

@keyframes slide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50px);
    }
  }