.background {
    height: 350px;
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.menu {
    background-color: #f6f6f6;
    position: relative;
    margin-top: -80px;
    border-radius: 3rem 3rem 0 0;
    &__title {
        font-family: 'Shrikhand';
        font-weight: 400;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        }
    }
    & .starter {
        padding: 1rem 2rem;
        &__title {
            position: relative;
            text-transform: uppercase;
            font-size: 1.6rem;
            font-weight: 400;
            &::after {
                content: "";
                position: absolute;
                width: 40px;
                height: 3px;
                top: 22px;
                left: 1px;
                background: $tertiary-clr;
            }
        }
        &__card__container {
            display: flex;
            flex-direction: column;
        }
        &__card {
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 2rem;
            padding: 1rem;
            border-radius: 1.6rem;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            &__txt {
                overflow: hidden;
            }
            & p {
                margin: .4rem 0 0 0;
            }
        }
    }  
}
        