// Colors
$primary-clr: #9356DC;
$secondary-clr: #FF79DA;
$tertiary-clr: #99E2D0;
$gradient: linear-gradient(180deg, $secondary-clr 0%, $primary-clr 100%);

// Typography
$h2: 1.75rem;
$large-txt: 1.25rem;
