.footer {
    background: rgba($color: #000000, $alpha: .8);
    padding: 2rem;
    color: #fff;
    &__img {
        filter: contrast(1) invert(1);
        width: 120px;
        margin: 1rem 0;
    }
    &__row {
        padding: .6rem 0;
    }
    & .icon-link {
        display: inline-block;
        width: 20px;
    }
    & .accent-link {
        font-weight: 600;
    }
}