.footer {
    background: rgba($color: #000000, $alpha: .8);
    padding: 1rem;
    color: #fff;
    &__img {
        filter: contrast(1) invert(1);
        width: 120px;
        margin: 1rem 0;
    }
    &__row {
        padding: .6rem 0;
    }
    & .icon-link {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    & .accent-link {
        font-weight: 600;
    }
}

@media (min-width: 769px) {
    .footer__container {
        display: flex;
        justify-content: space-evenly;
    }
    .img__container {
        @include flex-center();
    }
}