.header {
    @include flex-center();
    padding: 1rem;
    z-index: 10;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
    &__title {
        font-family: "Shrikhand", cursive;
        font-weight: 500;
        font-size: 2.25rem;
    }
    &__icon {
        position: absolute;
        top: 50%;
        left: 2rem;
    }
}
